.public-header {
    background-color: black;
    color: white;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-left: 10px;
}